.form-group {
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 0.25rem;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

form {
  display: inline;
}

a.button,
button {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border: none;
  border-radius: 0.75rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
