<h1>Classes</h1>
<a href="/">Back</a>
<ul>
  <% classes.forEach((cls) => { %>
    <% const { class_name : className } = cls %>
    <li><%= className %> <a href="/classes/<%= className %>">Edit</a></li>
  <% }) %>
</ul>
