<h1>Home</h1>
<ul class="buttons-list">
  <li><a href="/" class="button">Add Class</a></li>
  <li><a href="/" class="button">Add Stat</a></li>
  <li><a href="/" class="button">Add Item</a></li>
</ul>
