<h1>Home</h1>
<ul>
  <div>
    <li><a href="/classes" class="button">Classes</a></li>
    <li><a href="/classes/new" class="button">Add Class</a></li>
  </div>
  <div>
    <li><a href="/stats" class="button">Stats</a></li>
    <li><a href="/stats/new" class="button">Add Stat</a></li>
  </div>
  <div>
    <li><a href="/" class="button">Items</a></li>
    <li><a href="/" class="button">Add Item</a></li>
  </div>
</ul>
