<h1>Items</h1>
<a href="/" class="button">Back</a>
<ul>
  <% items.forEach((item) => { %>
    <% const { item_name : itemName, item_cost: itemCost } = item %>
    <li><%= itemName %></li>
    <li><%= itemCost %></li>
  <% }) %>
</ul>
