<h1>Edit Stat</h1>
<form method="POST" action="/stats/<%= statName %>">
  <div class="form-group">
    <label for="statName">Stat Name</label>
    <input type="text" id="statName" name="statName" value="<%= statName %>" />
  </div>
  <a href="/stats" class="button">Cancel</a>
  <button type="submit">Submit</button>
</form>
