<h1>New Stat</h1>
<a href="/" class="button">Back</a>
<form method="POST" action="/stats">
  <div class="form-group">
    <label for="statName">Stat Name</label>
    <input type="text" id="statName" name="statName" required />
  </div>
  <button type="submit">Submit</button>
</form>
